<ion-header>
  <ion-toolbar>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Reportes de Basura -->
  <h2>Reportes de Basura</h2>
  <ion-card *ngFor="let reporte of reportesBasura">
    <ion-card-header>
      <ion-card-title>{{ reporte.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
      {{ reporte.descripcion }}

    </ion-card-content>
    
  </ion-card>

  <!-- Reportes de Celo -->
  <h2>Reportes de Perritas en Celo</h2>
  <ion-card *ngFor="let reporte of reportesCelo">
    <ion-card-header>
      <ion-card-title>{{ reporte.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ reporte.descripcion }}
    </ion-card-content>
  </ion-card>

  <!-- Reportes de Perdido -->
  <h2>Reportes de Perritos Perdidos</h2>
  <ion-card *ngFor="let reporte of reportesPerdido">
    <ion-card-header>
      <ion-card-title>{{ reporte.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ reporte.descripcion }}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tab-bar color="light">
  <!-- Botón Menú -->
  <ion-tab-button tab="1">
    <ion-icon name="home" routerLink="/main"></ion-icon>
    <ion-label>Menú</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <!-- Botón Reportes -->
  <ion-tab-button tab="2">
    <ion-icon name="document-text" routerLink="/reportes"></ion-icon>
    <ion-label>Reportes</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <!-- Botón Estadísticas -->
  <ion-tab-button tab="3">
    <ion-icon name="stats-chart" routerLink="/estadisticas"></ion-icon>
    <ion-label>Estadísticas</ion-label>
  </ion-tab-button>

  <!-- Botón Notificaciones -->
  <ion-tab-button tab="4">
    <ion-icon name="notifications" routerLink="/notificaciones"></ion-icon>
    <ion-label>Notificaciones</ion-label>
  </ion-tab-button>
</ion-tab-bar>